@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --color-primario: #3498db; /* Azul */
  --color-secundario: #2ecc71; /* Verde */
  --color-fondo: #f3f3f3; /* Gris claro */
  --color-texto: #333; /* Gris oscuro */
  /* Añade más colores según tus necesidades */
}

body {
  font-family: "JetBrains Mono", monospace;
}
